<div class="container-fluid">
  <div class="row">
    <div
      class="col-2 box41 box45"
      style="background-color: #e5e7e9; padding-left: 0%; padding-right: 0%"
    >
      <h5 class="mt-3" style="padding-left: 10px">HTML Tutorials</h5>
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML Home</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Introduction</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Editors</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML Basic</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Elements</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Attributes</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Heading</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Paragraphs</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Styles</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Formatting</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Quotations</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Comments</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Colors</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML CSS</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML Links</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Images</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Favicon</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Tables</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML Lists</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML Block</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Inline</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Classes</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML Id</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Iframes</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML JavaScript</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML File Paths</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML Head</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Layout</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Responsive</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Emojis</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Charset</a
      >
      <h5 class="mt-3 mb-3" style="padding-left: 10px">HTML Forms</h5>
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Form Attributes</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Form Elements</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML Types</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Input Attributes</a
      >
      <h5 class="mt-3 mb-3" style="padding-left: 10px">HTML Graphics</h5>
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Canvas</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML SVG</a>
      <h5 class="mt-3 mb-3" style="padding-left: 10px">HTML Media</h5>
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML Media</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML Video</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px">HTML Audio</a>
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Pug-ins</a
      >
      <a class="box44" routerLink="/content" style="padding-left: 10px"
        >HTML Youtube</a
      >
    </div>
    <div class="col-lg-10 box43 offset-lg-2" style="height: 200vh">
      <h1 class="mt-5" style="font-size: 50px; padding-left: 20px">
        HTML Tutorials
      </h1>
      <div
        class="row mt-5"
        style="background-color: #d9eee1; padding-left: 20px"
      >
        <div class="col-lg-12 mt-5">
          <h6>HTML is the standard markup language for Web pages.</h6>
          <h6>With HTML you can create your own Website</h6>
          <h6>HTML is easy to learn - You will enjoy it!</h6>
          <div class="mt-4">
            <button class="btn btn-success">Study our Free HTML</button>
          </div>
          <div class="mt-4 mb-5">
            <button class="btn btn-dark">Wtach Our Video Tutorials</button>
          </div>
        </div>
      </div>
      <h1 class="mt-5" style="padding-left: 10px">
        Easy Learning with HTML "Try it Yourself
      </h1>
      <div class="row mt-4 box46">
        <div class="col box50">
          <img src="../../../assets/Images/Content1.png" class="img-fluid img1"  alt="Please reload the page" />
        </div>
        <div>
          <button class="btn btn-success box51">Try it Yourself</button>
        </div>
      </div>
      <h1 class="mt-4" style="padding-left: 10px">HTML Examples</h1>
      <h6 class="mt-4" style="padding-left: 10px">
        In this HTML tutorial; you will find more than 200 examples. With our
        online "Try it Yourself" editor; you can edit and test each example
        yourself.
      </h6>
      <div class="mt-4" style="padding-left: 10px">
        <button class="btn box42">Go to HTML Example</button>
      </div>
      <div class="row" style="padding: 30px">
        <div class="col" style="background-color: #282a35; border-radius: 20px">
          <div class="col mt-5">
            <div class="col mb-5">
              <h1 class="box47">KickStart your carrer</h1>
            </div>
            <div class="col mb-5">
              <h3 class="box48">Get certified by completing a course</h3>
            </div>
            <div>
              <button type="button" class="btn mb-5 mt-4 box49">
                Get Started
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5" style="padding-left: 10px">
        <div class="col">
          <button class="btn btn-success btn-lg float-start mb-5">Home</button>
          <button class="btn btn-success btn-lg float-end mb-5">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
